body {
	margin: 0;
}

#header {
	width: 100%;
	height: 120px;
	background-color: #C5E3ED;
}

.login-panel {
	float: right;
	height: 120px;
  width: 450px;
}




#content {
	width: 100%;
	height: 400px;
	background-color: #d6ebf2;
}

#content-pane {
	margin-left: 80px;
	height: 100%;
}

#menu-panel {
	width: 80px;
	height: 100%;
	background-color: #3b4447;
	float: left;
}

#footer {
	width: 100%;
	height: 100px;
	background-color: #627176;
}