body {
	margin: 0;
}


#header {
	width: 100%;
	height: 100px;
	background-color: rgb(12, 167, 211);
}



#logo {
	display: inline-block; 
	height: 100%;
}

#logo a {
	display: inline-block; 
	text-decoration: none; 
	height: 100%;
	font-weight: bold;
  color: white;
}

.logo-image {
	max-height: 100%; 
	float: left; 
	margin-left: 5px;
}

.logo-text {
	font-size: 30px;
	margin-left: 10px; 
	display: block;
}



.login-panel {
	float: right;
	height: 100%;
  width: 380px;
}

.login-cadastrar-link {
	width: 181px;
	height: 35px;
	display: inline-block;
	margin-top: 2px;
	cursor: pointer;
	text-decoration: none;
	font-size: 18px !important;
	font-weight: bold;
	color: white;
}

.login-entrar-btn {
	margin-top: 2px; 
	margin-left: 106px;
}

.logout-image {
	float: right;
  height: 100%;
	background-color: rgb(5, 145, 185);
}



#content {
	width: 100%;
	height: 1000px;
	background-color: #d6ebf2;
}

#menu-panel {
	width: 160px;
	height: 700px;
	background-color: rgb(0, 132, 171);
}

.usuario-link {
	cursor: pointer;
	text-decoration: none;
	font-size: 18px !important;
	font-weight: bold;
	color: black;
}

.foto-usuario {
	width: 70px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  border-width: 4px;
  position: absolute;
  top: 8px;
  left: 40px;
}

.usuario-dados {
	position: absolute;
	top: 80px;
	text-align: center;
	width: 100%;
}

.hide-menu-panel {
	position: absolute;
  z-index: 2;
  left: -160px;
}

.menu-panel-btn {
	width: 150px;
	height: 120px;
	font-size: 18px !important;
	margin-left: 5px;
	margin-top: 5px;
	background-size: 80px !important;
  background-repeat: no-repeat !important;
  background-position: 35px 8px !important;
}

#content-pane {
	margin-left: 160px;
	height: 100%;
}

.menu-panel-btn .ui-button-text {
	padding: 0;
	margin-top: 80px
}

.home-icon {
  background-image: url("../img/home-icon.png") !important;
}

.clinicas-icon {
	background-image: url("../img/clinicas-icon.png") !important;
}

.medicos-icon {
	background-image: url("../img/medicos-icon.png") !important;
}



#footer {
	width: 100%;
	height: 100px;
	background-color: rgb(63, 40, 72);
}



/* buscar-medicos.xhtml */
.banner-container {
	width: 100%;
	position: relative;
	border-bottom: 4px #005f8d solid;
	background-color: white;
}

.banner-image {
  height: 400px;
  vertical-align: middle;
  display: block;
  margin: 0px auto;
}

.banner-buscar-medicos {
	display: inline-block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
  left: 0px;
  right: 0px;
  bottom: 30px;
  background-color: rgb(12, 167, 211);
  opacity: 0.9;
}

.banner-buscar-medicos h2 {
	color: white;
	margin: 4px 0px;
}

.banner-campo {
  margin-bottom: 5px;
	border: 2px #005f8d solid;
	border-radius: 5px;
}

.banner-campo .ui-autocomplete-input {
	width: 350px;
}

.medico {
	height: 230px;
	width: 210px;
	background-color: yellow;
}
/* buscar-medicos.xhtml */



.search-container {
	width: 820px;
	margin-left: auto; 
	margin-right: auto;
}

.table-image {
	display: block;
  margin: 1px auto 1px auto;
}

.label {
	font-size: 15px;
  float: right;
	margin-right: 15px;
}

.dialog {
	background-color: aqua;
}

.btn {
	width: 120px;
}

.btn-table {
	border-radius: 0px;
	width: 35px;
}

.btn-cancelar {
	background-color: #B70000 !important;
}

.btn-cadastrar {
	background-color: #35B235 !important;
}



/* Customizacao do PRIMEFACES */
.ui-dialog .ui-dialog-titlebar {
	margin: 0;
	padding: 0;
	padding-left: 3px;
}

.ui-dialog .ui-dialog-content {
	margin: 4px;
	background-color: white;
}

.ui-dialog-titlebar-close {
	width: 40px;
	height: 40px;
	background-image: url("../img/close.png") !important;
	background-size: 40px !important;
  background-repeat: no-repeat !important;
}

.ui-dialog-titlebar-close .ui-icon {
	background-image: none !important;
}

.ui-state-error {
	border-bottom: 4px solid #ef5350 !important;
	border-left: 0px !important;
}

